<%- include('../../components/base/head') %>
<body>

  <%- include('../../components/navbar') %>
  <%- include('../../components/sidebar') %>
  <%- include('../../components/titleBar', {title: 'Surat Keterangan Usaha', btnText: 'buat baru'}) %>

  <section class="section main-section">
    <div class="card has-table">
      <%- include('../../components/cardHead', {title: 'Daftar Surat'}) %>
      <div class="card-content">
        <table>
          <thead>
            <tr>
              <th></th>
              <th>Nama</th>
              <th>Jabatan</th>
              <th>NIP</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            
          </tbody>
        </table>
        <div class="table-pagination">
          <div class="flex items-center justify-between">
            <div class="buttons">
              <button type="button" class="button active">1</button>
              <button type="button" class="button">2</button>
              <button type="button" class="button">3</button>
            </div>
            <small>Page 1 of 3</small>
          </div>
        </div>
      </div>
    </div>
      
  </section>
    
</body>
</html>
<%- include('../../components/base/footer') %>