<%- include('../components/base/head') %>
<body>

  <div id="app">
    <%- include('../components/navbar') %>
    <%- include('../components/sidebar') %>
    <%- include('../components/titleBar', {title: 'Dashboard', btnStyle: 'hidden'}) %>
    
      <section class="section main-section">
        <!-- taruh bagian utama halaman -->
        
      </section>
    
  </div>
  
</body>
</html>
<%- include('../components/base/footer') %>