<%- include('../components/base/head') %>
<body>

  <div id="app">
    <%- include('../components/navbar') %>
    <%- include('../components/sidebar') %>
    <%- include('../components/titleBar', {title: 'Pegawai'}) %>
    
    <section class="section main-section">
  
      <div class="card has-table">
        <%- include('../components/cardHead', {title: 'Daftar Pegawai'}) %>
        <div class="card-content">
          <table>
            <thead>
              <tr>
                <th></th>
                <th>Nama</th>
                <th>Jabatan</th>
                <th>NIP</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <% pegawais.forEach((pegawai, index) => { %>
                <tr>
                  <td class="image-cell"><%= index + 1 %></td>
                  <td data-label="Nama"><%= pegawai.nama %></td>
                  <td data-label="Jabatan"><%= pegawai.jabatan %></td>
                  <td data-label="NIP"><%= pegawai.nip %></td>
                  <td class="actions-cell">
                    <div class="buttons right nowrap">
                      <button id="editButton" class="button small green --jb-modal"  data-target="edit" type="button"
                       data-id="<%= pegawai.id %>"
                       data-nama="<%= pegawai.nama %>"
                       data-jabatan="<%= pegawai.jabatan %>"
                       data-nip="<%= pegawai.nip %>"
                      >
                        <span class="icon"><i class="mdi mdi-pen"></i></span>
                      </button>
                      <button class="button small red --jb-modal" data-target="delete" type="button" data-id="<%= pegawai.id %>">
                        <span class="icon"><i class="mdi mdi-trash-can"></i></span>
                      </button>
                    </div>
                  </td>
                </tr>
              <% }) %>
            </tbody>
          </table>
          <div class="table-pagination">
            <div class="flex items-center justify-between">
              <div class="buttons">
                <button type="button" class="button active">1</button>
                <button type="button" class="button">2</button>
                <button type="button" class="button">3</button>
              </div>
              <small>Page 1 of 3</small>
            </div>
          </div>
        </div>
      </div>
    </section>
  
    <%- include('../components/footer') %>

    <!-- ===== CREATE FORM ===== -->
    <% 
      const inputLocate = '../components/baseInput'
      const baseInputNama = include(inputLocate, {name: 'nama'});
      const baseInputJabatan = include(inputLocate, {name: 'jabatan'});
      const baseInputNip = include(inputLocate, {name: 'nip'});
    %>
    <%- include('../components/modal/baseModal', {title: 'Create Pegawai', body: /*html*/ `
      <form method="post" action="/api/v1/pegawai">
        <div class="field-body">
          ${baseInputNama} ${baseInputJabatan} ${baseInputNip}
        </div>
        <div class="field grouped mt-2">
          <div class="control">
            <div class="button --jb-modal-close">Cancel</div>
          </div>
          <div class="control">
            <button type="submit" class="button red --jb-modal-close">Create</button>
          </div>
        </div>
      </form>
    `}) %>
    
    <!-- ===== UPDATE FORM ===== -->
    <% 
      const updadeInputId = include(inputLocate, {name: 'id', id: 'editId', type: 'hidden', label: ' '});
      const updadeInputNama = include(inputLocate, {name: 'nama', id: 'editNama'});
      const updadeInputJabatan = include(inputLocate, {name: 'jabatan', id: 'editJabatan'});
      const updadeInputNip = include(inputLocate, {name: 'nip', id: 'editNip'});
    %>
    <%- include('../components/modal/baseModal', {title: 'Update Pegawai', id: 'edit', body: /*html*/ `
      <form method="post" action="/api/v1/pegawai/update">
        <div class="field-body">
          ${updadeInputId} ${updadeInputNama} ${updadeInputJabatan} ${updadeInputNip}
        </div>
        <div class="field grouped mt-2">
          <div class="control">
            <div class="button --jb-modal-close">Cancel</div>
          </div>
          <div class="control">
            <button type="submit" class="button red --jb-modal-close">Create</button>
          </div>
        </div>
      </form>
    `}) %>

    <!-- ===== DELETE FORM ===== -->
    <%- include('../components/modal/baseModal', {title: 'Delete Pegawai', id: 'delete', body: /*html*/ `
      <p class='my-10'>Delete this?</p>
      <div class="field grouped mt-2">
        <div class="control">
          <div class="button --jb-modal-close">Cancel</div>
        </div>
        <div class="control">
          <form action="api/v1/pegawai/delete/" method="post">
            <input type="hidden" id="deleteWhereId" name="id">
            <button class="button red --jb-modal-close" type="submit">Confirm</button>
          </form>
        </div>
      </div>
    `}) %>

  </div>
  
</body>
</html>

<script>

  const getTheId = (id) => {
    return document.getElementById(id)
  }

  const editButtons = document.querySelectorAll('.button[data-target="edit"]');
  const deleteButtons = document.querySelectorAll('.button[data-target="delete"]');
  const editId = getTheId('editId')
  const editNama = getTheId('editNama')
  const editJabatan = getTheId('editJabatan')
  const editNip = getTheId('editNip')

  const deleteWhereId = getTheId('deleteWhereId')

  let idForDelete = 0

  // get id for edit
  editButtons.forEach((button) => {
    button.addEventListener('click', function() {
      const data = this.dataset
      editId.value = data.id
      editNama.value = data.nama
      editJabatan.value = data.jabatan
      editNip.value = data.nip
    });
  });


  deleteButtons.forEach((button) => {
    button.addEventListener('click', function() {
      idForDelete = parseInt(this.dataset.id)
      deleteWhereId.value = idForDelete
    })
  })


</script>

<%- include('../components/base/footer') %>