<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
  <link rel="stylesheet" href="../assets/css/main.css">
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-130795909-1"></script>
  <script src="../assets/js/tailwindcdn.js"></script>
  <script src="../assets/js/myscript.js"></script>
</head>
<body>

  <div id="app">
    <%- include('../components/navbar') %>
    <%- include('../components/sidebar') %>

    <section class="is-title-bar">
      <div class="flex flex-col md:flex-row items-center justify-between space-y-6 md:space-y-0">
        <ul>
          <li>Pegawai</li>
        </ul>
        <button class="button blue --jb-modal" data-target="create-modal" type="button">
          <span class="icon"><i class="mdi mdi-credit-card-outline"></i></span>
          <span>Create New</span>
        </button>
      </div>
    </section>
    
    <section class="section main-section">
  
      <div class="card has-table">
        <header class="card-header">
          <p class="card-header-title">
            <span class="icon"><i class="mdi mdi-account-multiple"></i></span>
            Daftar Pegawai
          </p>
          <a onclick="refreshPage()" class="card-header-icon" style="cursor: pointer;">
            <span class="icon"><i class="mdi mdi-reload"></i></span>
          </a>
        </header>
        <div class="card-content">
          <table>
            <thead>
              <tr>
                <th></th>
                <th>Nama</th>
                <th>Jabatan</th>
                <th>NIP</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <% pegawais.forEach((pegawai, index) => { %>
                <tr>
                  <td class="image-cell"><%= index + 1 %></td>
                  <td><%= pegawai.nama %></td>
                  <td><%= pegawai.jabatan %></td>
                  <td><%= pegawai.nip %></td>
                  <td class="actions-cell">
                    <div class="buttons right nowrap">
                      <button id="editButton" class="button small green --jb-modal"  data-target="edit" type="button"
                       data-id="<%= pegawai.id %>"
                       data-nama="<%= pegawai.nama %>"
                       data-jabatan="<%= pegawai.jabatan %>"
                       data-nip="<%= pegawai.nip %>"
                      >
                        <span class="icon"><i class="mdi mdi-pen"></i></span>
                      </button>
                      <button class="button small red --jb-modal" data-target="delete" type="button" data-id="<%= pegawai.id %>">
                        <span class="icon"><i class="mdi mdi-trash-can"></i></span>
                      </button>
                    </div>
                  </td>
                </tr>
              <% }) %>
            </tbody>
          </table>
          <div class="table-pagination">
            <div class="flex items-center justify-between">
              <div class="buttons">
                <button type="button" class="button active">1</button>
                <button type="button" class="button">2</button>
                <button type="button" class="button">3</button>
              </div>
              <small>Page 1 of 3</small>
            </div>
          </div>
        </div>
      </div>
    </section>
  
    <%- include('../components/footer') %>

    <!-- ===== CREATE FORM ===== -->
    <div id="create-modal" class="modal">
      <div class="modal-background --jb-modal-close"></div>
      <div class="modal-card">
        <header class="modal-card-head">
          <p class="modal-card-title">Create Pegawai</p>
        </header>
        <section class="modal-card-body">
          <form method="post" action="/api/v1/pegawai">
            <div class="field">
              <label class="label">Form</label>
              <div class="field-body">
                <div class="field">
                  <input class="input" type="text" placeholder="Nama" name="nama">
                </div>
                <div class="field">
                  <input class="input" type="text" placeholder="Jabatan" name="jabatan">
                </div>
                <div class="field">
                  <input class="input" type="text" placeholder="NIP" name="nip">
                </div>
              </div>
            </div>
            <div class="field grouped">
              <div class="control">
                <div class="button --jb-modal-close">Cancel</div>
              </div>
              <div class="control">
                <button type="submit" class="button red --jb-modal-close">Create</button>
              </div>
            </div>
          </form>
        </section>
      </div>
    </div>
    
    <!-- ===== UPDATE FORM ===== -->
    <div id="edit" class="modal">
      <div class="modal-background --jb-modal-close"></div>
      <div class="modal-card">
        <header class="modal-card-head">
          <p class="modal-card-title">Update Pegawai</p>
        </header>
        <section class="modal-card-body">
          <form method="post" action="/api/v1/pegawai/update">
            <div class="field">
              <label class="label">Form</label>
              <div class="field-body">
                <div class="field">
                  <input id="editId" class="input" type="hidden" name="id">
                  <input id="editNama" class="input" type="text" placeholder="Nama" name="nama">
                </div>
                <div class="field">
                  <input id="editJabatan" class="input" type="text" placeholder="Jabatan" name="jabatan">
                </div>
                <div class="field">
                  <input id="editNip" class="input" type="text" placeholder="NIP" name="nip">
                </div>
              </div>
            </div>
            <div class="field grouped">
              <div class="control">
                <div class="button --jb-modal-close">Cancel</div>
              </div>
              <div class="control">
                <button type="submit" class="button red --jb-modal-close">Update</button>
              </div>
            </div>
          </form>
        </section>
      </div>
    </div>

    <!-- ===== DELETE FORM ===== -->
    <div id="delete" class="modal">
      <div class="modal-background --jb-modal-close"></div>
      <div class="modal-card">
        <header class="modal-card-head">
          <p class="modal-card-title">Delete</p>
        </header>
        <section class="modal-card-body">
          <p>Delete this?</p>
        </section>
        <footer class="modal-card-foot">
          <button class="button --jb-modal-close">Cancel</button>
          <form action="api/v1/pegawai/delete/" method="post">
            <input type="hidden" id="deleteWhereId" name="id">
            <button class="button red --jb-modal-close" type="submit">Confirm</button>
          </form>
        </footer>
      </div>
    </div>
  </div>
  
</body>
</html>

<script>

  const getTheId = (id) => {
    return document.getElementById(id)
  }

  const editButtons = document.querySelectorAll('.button[data-target="edit"]');
  const deleteButtons = document.querySelectorAll('.button[data-target="delete"]');
  const editId = getTheId('editId')
  const editNama = getTheId('editNama')
  const editJabatan = getTheId('editJabatan')
  const editNip = getTheId('editNip')

  const deleteWhereId = getTheId('deleteWhereId')

  let idForDelete = 0

  // get id for edit
  editButtons.forEach((button) => {
    button.addEventListener('click', function() {
      const data = this.dataset
      editId.value = data.id
      editNama.value = data.nama
      editJabatan.value = data.jabatan
      editNip.value = data.nip
    });
  });


  deleteButtons.forEach((button) => {
    button.addEventListener('click', function() {
      idForDelete = parseInt(this.dataset.id)
      deleteWhereId.value = idForDelete
    })
  })

  const refreshPage = () => {
    window.location.reload()
  }

</script>

<!-- Scripts below are for demo only -->
<script type="text/javascript" src="../assets/js/main.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
<script type="text/javascript" src="../assets//js/chart.sample.min.js"></script>
<!-- Icons below are for demo only. Feel free to use any icon pack. Docs: https://bulma.io/documentation/elements/icon/ -->
<link rel="stylesheet" href="https://cdn.materialdesignicons.com/4.9.95/css/materialdesignicons.min.css">