<%- include('../components/base/head') %>
<body>
  <div id="app">
    <%- include('../components/navbar') %>
    <%- include('../components/sidebar') %>
    <%- include('../components/titleBar', {title: 'Surat'}) %>
    
    <section class="section main-section">
  
      <div class="card has-table">
        <%- include('../components/cardHead', {title: 'Daftar Surat'}) %>
        <div class="card-content">
          <table>
            <thead>
              <tr>
                <th></th>
                <th>No Surat</th>
                <th>Nama Surat</th>
                <th>Maksud</th>
                <th>Created</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <% surats.forEach((surat, index) => { %>
                <tr>
                  <td class="image-cell"><%= index + 1 %>.</td>
                  <td><%= surat.no_surat %></td>
                  <td><%= surat.nama_surat %></td>
                  <td><%= surat.maksud %></td>
                  <td><small><%= surat.createdAt %></small></td>
                  <td class="actions-cell">
                    <div class="buttons right nowrap">
                      <button id="editButton" class="button small green --jb-modal"  data-target="edit" type="button"
                       data-id="<%= surat.id %>"
                       data-nama="<%= surat.no_surat %>"
                       data-jabatan="<%= surat.nama_surat %>"
                       data-nip="<%= surat.maksud %>"
                      >
                        <span class="icon"><i class="mdi mdi-pen"></i></span>
                      </button>
                      <button class="button small blue --jb-modal" data-target="print-modal">
                        <span class="icon"><i class="mdi mdi-printer"></i></span>
                      </button>
                    </div>
                  </td>
                </tr>
              <% }) %>
            </tbody>
          </table>
          <div class="table-pagination">
            <div class="flex items-center justify-between">
              <div class="buttons">
                <button type="button" class="button active">1</button>
                <button type="button" class="button">2</button>
                <button type="button" class="button">3</button>
              </div>
              <small>Page 1 of 3</small>
            </div>
          </div>
        </div>
      </div>
    </section>
  
    <%- include('../components/footer') %>

    <!-- ===== CREATE FORM ===== -->
    <div id="create-modal" class="modal">
      <div class="modal-background"></div>
      <div class="modal-card w-4/5" style="min-height: 85vh;">
        <header class="modal-card-head">
          <p class="modal-card-title">Create Surat</p>
        </header>
        <section class="modal-card-body">

          <!-- WARGA -->
          <div class="field" id="createWargaForm">
            <label><b>Data Warga</b></label>
            <div class="field-body grid grid-rows-4 grid-flow-col gap-4">
              <%- include('../components/baseInput', {label: 'nama', id: 'nama_warga'}) %>
              <%- include('../components/baseInput', {label: 'nik', id: 'nik_warga'}) %>
              <%- include('../components/baseInput', {label: 'jenis kelamin', id: 'jenis_kelamin_warga'}) %>
              <%- include('../components/baseInput', {label: 'tempat lahir', id: 'tempat_lahir_warga'}) %>
              <%- include('../components/baseInput', {label: 'tanggal lahir', id: 'tanggal_lahir_warga'}) %>
              <%- include('../components/baseInput', {label: 'pekerjaan', id: 'pekerjaan_warga'}) %>
              <%- include('../components/baseInput', {label: 'kewarganegaraan', id: 'kewarganegaraan_warga'}) %>
              <%- include('../components/baseInput', {label: 'status', id: 'status_warga'}) %>
              <%- include('../components/baseInput', {label: 'agama', id: 'agama_warga'}) %>
              <%- include('../components/baseInput', {label: 'alamat', id: 'alamat_warga'}) %>
              <%- include('../components/baseInput', {label: 'rt/rw', id: 'rt_rw_warga'}) %>
            </div>
          </div>

          <!-- WARGA PELAPOR -->
          <div class="field hidden" id="createWpForm">
            <label><b>Data Warga Pelapor</b></label>
            <div class="field-body grid grid-rows-4 grid-flow-col gap-4">
              <%- include('../components/baseInput', {label: 'nama', id: 'nama_wp'}) %>
              <%- include('../components/baseInput', {label: 'nik', id: 'nik_wp'}) %>
              <%- include('../components/baseInput', {label: 'jenis kelamin', id: 'jenis_kelamin_wp'}) %>
              <%- include('../components/baseInput', {label: 'tempat lahir', id: 'tempat_lahir_wp'}) %>
              <%- include('../components/baseInput', {label: 'tanggal lahir', id: 'tanggal_lahir_wp'}) %>
              <%- include('../components/baseInput', {label: 'pekerjaan', id: 'pekerjaan_wp'}) %>
              <%- include('../components/baseInput', {label: 'kewarganegaraan', id: 'kewarganegaraan_wp'}) %>
              <%- include('../components/baseInput', {label: 'status', id: 'status_wp'}) %>
              <%- include('../components/baseInput', {label: 'agama', id: 'agama_wp'}) %>
              <%- include('../components/baseInput', {label: 'alamat', id: 'alamat_wp'}) %>
              <%- include('../components/baseInput', {label: 'rt/rw', id: 'rt_rw_wp'}) %>
            </div>
          </div>

          <!-- SURAT -->
          <div class="field hidden" id="createSuratForm">
            <label><b>Data Surat</b></label>
            <div class="field-body grid grid-rows-3 grid-flow-col gap-4 px-60">
              <%- include('../components/baseInput', {label: 'no surat', id: 'no_surat'}) %>
              <%- include('../components/baseInput', {label: 'nama surat', id: 'nama_surat'}) %>
              <%- include('../components/baseInput', {label: 'maksud', id: 'maksud_surat'}) %>
            </div>
          </div>


          <div class="flex justify-end">
            <div class="control">
              <div class="button red --jb-modal-close" id="btnCancel">Cancel</div>
              <div onclick="backtoWarga()" class="button bg-gray-500 hover:bg-gray-600 text-white border-0 hidden" id="btnBackToWarga">Back to warga</div>
              <div onclick="backtoWp()" class="button bg-gray-500 hover:bg-gray-600 text-white border-0 hidden" id="btnBackToWp">Back to wp</div>
            </div>
            <div class="control ml-4">
              <div onclick="nextToWp()" class="button blue" id="btnNextToWp">Next to wp</div>
              <div onclick="nextToSurat()" class="button blue hidden" id="btnNextToSurat">Next to surat</div>
              <button type="submit" onclick="createSurat()" class="button blue hidden" id="btnCreateSurat">Create</button>
            </div>
          </div>
        </section>
      </div>
    </div>
    
    <!-- ===== UPDATE FORM ===== -->
    <div id="edit" class="modal">
      <div class="modal-background --jb-modal-close"></div>
      <div class="modal-card">
        <header class="modal-card-head">
          <p class="modal-card-title">Update Pegawai</p>
        </header>
        <section class="modal-card-body">
          <form method="post" action="/api/v1/pegawai/update">
            <div class="field">
              <label class="label">Form</label>
              <div class="field-body">
                <div class="field">
                  <input id="editId" class="input" type="hidden" name="id">
                  <input id="editNama" class="input" type="text" placeholder="Nama" name="nama">
                </div>
                <div class="field">
                  <input id="editJabatan" class="input" type="text" placeholder="Jabatan" name="jabatan">
                </div>
                <div class="field">
                  <input id="editNip" class="input" type="text" placeholder="NIP" name="nip">
                </div>
              </div>
            </div>
            <div class="field grouped">
              <div class="control">
                <div class="button --jb-modal-close">Cancel</div>
              </div>
              <div class="control">
                <button type="submit" class="button red --jb-modal-close">Update</button>
              </div>
            </div>
          </form>
        </section>
      </div>
    </div>

    <div id="print-modal" class="modal">
      <div class="modal-background --jb-modal-close"></div>
      <div class="modal-card w-11/12 min-h-screen">
        <section class="modal-card-body">
          <p class="modal-card-title">Print</p>
          <button onclick="printArea('printArea')" class="button blue">print</button>

          <div id="printArea">
            <div id="letterPreview" class="preview-print">
              <div class="print-preview text-center text-tnr" style="width: 100%; height: fit-content; border: 1px solid black;">
                <div class="flex flex-row gap-4 justify-center items-center">
                  <div style="width: 80px;">
                    <img src="../assets/images/lambang_kota_palu.png" alt="" style="width: 100%;">
                  </div>
                  <div>
                    <h1 class="text-xl leading-none font-medium">PEMERINTAH KOTA PALU</h1>
                    <P class="text-2xl leading-none" style="font-weight: 900;">KECAMATAN PALU BARAT</P>
                    <P class="text-2xl leading-none" style="font-weight: 900;">KELURAHAN BALAROA</P>
                    <P class="font-bold leading-none">JL. Yambaere No. 05</P>
                  </div>
                </div>

                <hr class="my-1" style="border: 1px solid black;">

                <div class="mb-2">
                  <u><b>SURAT KETERANGAN TIDAK MAMPU (SKTM)</b></u>
                  <p class="leading-none">NOMOR: xxx/xx.xx/BLR/VII/2023</p>
                </div>

                <div class="my-table mb-2">
                  <div class="text-left">Yang bertanda tangan dibawah ini:</div>
                  <div class="flex flex-row">
                    <div class="w-60 ml-10 text-left">Nama</div>
                    <div>: </div>
                  </div>
                  <div class="flex flex-row">
                    <div class="w-60 ml-10 text-left">Jabatan</div>
                    <div>: </div>
                  </div>
                </div>

                <div class="my-table mb-2">
                  <div class="text-left">Dengan ini menerangkan bahwa:</div>
                  <div class="flex flex-row">
                    <div class="w-60 ml-10 text-left">Nama</div>
                    <div>: </div>
                  </div>
                  <div class="flex flex-row">
                    <div class="w-60 ml-10 text-left">Jenis kelamin</div>
                    <div>: </div>
                  </div>
                  <div class="flex flex-row">
                    <div class="w-60 ml-10 text-left">Tempat/Tgl. lahir</div>
                    <div>: </div>
                  </div>
                  <div class="flex flex-row">
                    <div class="w-60 ml-10 text-left">Agama</div>
                    <div>: </div>
                  </div>
                  <div class="flex flex-row">
                    <div class="w-60 ml-10 text-left">Pekerjaan</div>
                    <div>: </div>
                  </div>
                  <div class="flex flex-row">
                    <div class="w-60 ml-10 text-left">Status Perkawinan</div>
                    <div>: </div>
                  </div>
                  <div class="flex flex-row">
                    <div class="w-60 ml-10 text-left">Kewarganegaraan</div>
                    <div>: </div>
                  </div>
                  <div class="flex flex-row">
                    <div class="w-60 ml-10 text-left">Alamat</div>
                    <div>: </div>
                  </div>
                  <div class="flex flex-row">
                    <div class="w-60 ml-10 text-left">RT/RW</div>
                    <div>: </div>
                  </div>
                </div>

                <div class="my-table mb-2">
                  <div class="text-left">Adalah benar Orang Tua/Wali dari:</div>
                  <div class="flex flex-row">
                    <div class="w-60 ml-10 text-left">Nama</div>
                    <div>: </div>
                  </div>
                  <div class="flex flex-row">
                    <div class="w-60 ml-10 text-left">Jenis kelamin</div>
                    <div>: </div>
                  </div>
                  <div class="flex flex-row">
                    <div class="w-60 ml-10 text-left">Tempat/Tgl. lahir</div>
                    <div>: </div>
                  </div>
                  <div class="flex flex-row">
                    <div class="w-60 ml-10 text-left">Agama</div>
                    <div>: </div>
                  </div>
                  <div class="flex flex-row">
                    <div class="w-60 ml-10 text-left">Pekerjaan</div>
                    <div>: </div>
                  </div>
                  <div class="flex flex-row">
                    <div class="w-60 ml-10 text-left">Status Perkawinan</div>
                    <div>: </div>
                  </div>
                  <div class="flex flex-row">
                    <div class="w-60 ml-10 text-left">Kewarganegaraan</div>
                    <div>: </div>
                  </div>
                  <div class="flex flex-row">
                    <div class="w-60 ml-10 text-left">Alamat</div>
                    <div>: </div>
                  </div>
                  <div class="flex flex-row">
                    <div class="w-60 ml-10 text-left">RT/RW</div>
                    <div>: </div>
                  </div>
                  <div class="flex flex-row">
                    <div class="w-60 ml-10 text-left">Maksud</div>
                    <div>: </div>
                  </div>
                  <div class="flex flex-row">
                    <div class="w-60 ml-10 text-left font-bold italic">Penghasilan Orang Tua</div>
                    <div class="font-bold italic">: Rp.</div>
                  </div>
                </div>

                <p class="text-justify">
                  Bahwa benar yang namanya tersebut si atas adalah Warga/Penduduk Kelurahan Balaroa, Kecamatan Palu Barat, Kota Palu, RT.001 RW.002, 
                  sesuai dengan Surat Pengantar RT. No: -/001-002/BLR/VII/2023 Tanggal 03 Juli 2023 dari keluarga tidak mampu/ekonomi lemah dan Tidak terdaftar sebagai peserta DTKS (Data Terpadu Kesejahteraan Sosial).
                </p>

                <p class="text-justify indent-10">
                  Berhubung maksud yang bersangkutan dimintakan agar yang berwenang memberikan bantuan serta fasilitas seperlunya.
                </p>

                <p class="text-justify indent-10">
                  Demikian Surat Keterangan ini dibuat untuk dipergunakan seperlunya.
                </p>

                <div class="flex justify-end">
                  <div class="ttd">
                    <div class="mb-20">
                      <div class="my-4">Palu, 09 Juli 2023</div>
                      <div>An. LURAH BALAROA</div>
                      <div>Kasi Pemberdayaan Masyarakat</div>
                      <div>Dan Kesejahteraan Sosial</div>
                    </div>
  
                    <div class="text-md"><u>RAHMANSYAH. SH</u></div>
                    <div>NIP: xxxx xxxxx xxx</div>
                  </div>
                </div>
              
              </div>

            </div>
          </div>

          <div class="flex justify-end">
            <div class="control">
              <div class="button red --jb-modal-close">Cancel</div>
            </div>
            <div class="control ml-4">
              <div class="button blue">Next to wp</div>
            </div>
          </div>
        </section>
      </div>
    </div>

  </div>
  
</body>
</html>

<script src="https://unpkg.com/html-docx-js/dist/html-docx.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.5/FileSaver.min.js"></script>

<script>
  const printArea = (area) => {
    console.log('run')
    // ref('letterPreview').style.width = '100%'
    ref('letterPreview').classList.remove('preview-print')
    ref('letterPreview').classList.add('if-print')
    var printPage = document.getElementById(area).innerHTML
    var oriPage = document.body.innerHTML
    document.body.innerHTML = printPage
    window.print()
    document.body.innerHTML = oriPage
    location.reload()

    // var printPage = document.getElementById(area).innerHTML;
    // var docx = htmlDocx.asBlob(printPage);
    // saveAs(docx, "file.docx");

  }

  window.addEventListener('afterprint', function() {
    // ref('letterPreview').style.width = '595px'
    ref('letterPreview').classList.add('preview-print')
    ref('letterPreview').classList.remove('if-print')
    console.log('end')
  });


  const saveDataWarga = () => {
    set('nama_warga', ref('nama_warga').value)
    set('nik_warga', ref('nik_warga').value)
    set('jenis_kelamin_warga', ref('jenis_kelamin_warga').value)
    set('tempat_lahir_warga', ref('tempat_lahir_warga').value)
    set('tanggal_lahir_warga', ref('tanggal_lahir_warga').value)
    set('pekerjaan_warga', ref('pekerjaan_warga').value)
    set('kewarganegaraan_warga', ref('kewarganegaraan_warga').value)
    set('status_warga', ref('status_warga').value)
    set('agama_warga', ref('agama_warga').value)
    set('alamat_warga', ref('alamat_warga').value)
    set('rt_rw_warga', ref('rt_rw_warga').value)
  }

  const saveDataWp = () => {
    set('nama_wp', ref('nama_wp').value)
    set('nik_wp', ref('nik_wp').value)
    set('jenis_kelamin_wp', ref('jenis_kelamin_wp').value)
    set('tempat_lahir_wp', ref('tempat_lahir_wp').value)
    set('tanggal_lahir_wp', ref('tanggal_lahir_wp').value)
    set('pekerjaan_wp', ref('pekerjaan_wp').value)
    set('kewarganegaraan_wp', ref('kewarganegaraan_wp').value)
    set('status_wp', ref('status_wp').value)
    set('agama_wp', ref('agama_wp').value)
    set('alamat_wp', ref('alamat_wp').value)
    set('rt_rw_wp', ref('rt_rw_wp').value)
  }

  const saveDataSurat = () => {
    set('no_surat', ref('no_surat').value)
    set('nama_surat', ref('nama_surat').value)
    set('maksud_surat', ref('maksud_surat').value)
  }

  const nextToWp = () => {
    ref('createWargaForm').classList.add('hidden')
    ref('btnCancel').classList.add('hidden')
    ref('btnNextToWp').classList.add('hidden')

    ref('createWpForm').classList.remove('hidden')
    ref('btnBackToWarga').classList.remove('hidden')
    ref('btnNextToSurat').classList.remove('hidden')

    saveDataWarga()
  }

  const backtoWarga = () => {
    ref('createWargaForm').classList.remove('hidden')
    ref('btnCancel').classList.remove('hidden')
    ref('btnNextToWp').classList.remove('hidden')

    ref('createWpForm').classList.add('hidden')
    ref('btnBackToWarga').classList.add('hidden')
    ref('btnNextToSurat').classList.add('hidden')
  }

  const nextToSurat = () => {
    ref('createWpForm').classList.add('hidden')
    ref('btnBackToWarga').classList.add('hidden')
    ref('btnNextToSurat').classList.add('hidden')

    ref('createSuratForm').classList.remove('hidden')
    ref('btnBackToWp').classList.remove('hidden')
    ref('btnCreateSurat').classList.remove('hidden')

    saveDataWp()
  }

  const backtoWp = () => {
    ref('createWpForm').classList.remove('hidden')
    ref('btnBackToWarga').classList.remove('hidden')
    ref('btnNextToSurat').classList.remove('hidden')

    ref('createSuratForm').classList.add('hidden')
    ref('btnBackToWp').classList.add('hidden')
    ref('btnCreateSurat').classList.add('hidden')
  }

  // get id for edit
  const editButtons = document.querySelectorAll('.button[data-target="edit"]')
  editButtons.forEach((button) => {
    button.addEventListener('click', function() {
      const data = this.dataset
      editId.value = data.id
      editNama.value = data.nama
      editJabatan.value = data.jabatan
      editNip.value = data.nip
    });
  });

</script>

<%- include('../components/base/footer') %>